.pagehero
{
    background-color:#3B5998;
    color: #ffffff;
}
.fbstyle
{
    background-color:#3B5998;
    color: #ffffff;
}
.fbstyle:hover
{
    background-color:#285e8e;
    color: #ffffff;
}
.pad0
{
    padding: 0px;
}
#ProfilePic
{


    align-items: center;
}
#profile
{
    background-color: #adadad;

    border-radius: 2%;
}

.albumimg
{
    width: 100px;
    height: 30%;
    max-width: 160px;
}

